@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
body {
  margin: auto;
  background-image: url("/Static/images/Motif.png");
}

.image1 {
  text-align: center;
}

#group {
  width: 100%;
}

.intro {
  margin-top: 30px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

/* .equipe1,
.equipe2,
.equipe3,
.equipe4,
.equipe5 {
  margin-top: 3vh;
  height: 40vh;
} */

.hehe,
.hoho,
.hyhy,
.hihi,
.huhu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text1,
.text2,
.text3,
.text4,
.text5 {
  margin-top: 3vh;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
  background-color: #fff;
}

#logo2 {
  margin-top: 4vh;
  /* margin-top: 20px; */
  /* margin-left: auto;
  margin-right: auto; */
  height: 35vh;
  width: 35vh;
}

p {
  background-color: #fff;
  margin: 0;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  text-decoration: underline 3px #f59d08;
}

h4 {
  margin-top: 4vh;
  text-decoration: underline 3px #f59d08;
}

@media only screen and (max-width: 768px) {
  /* Supprime l'image de fond */
  body {
    background-image: none;
  }

  /* Ajuste la taille du logo pour l'image */
  #logo2 {
    margin-top: 5vh;
    margin-left: auto;
    margin-right: auto;
    height: 25vh;
    width: 25vh;
  }

  /* Ajuste la taille de l'image */
  .image1 img {
    width: 100%;
  }

  /* Ajuste la hauteur des blocs "équipe" */
  .equipe1,
  .equipe2,
  .equipe3,
  .equipe4,
  .equipe5 {
    margin-top: 40px;
    height: auto;
  }

  /* Ajuste la largeur des blocs de texte des équipes */
  .text1,
  .text2,
  .text3,
  .text4,
  .text5 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3vh;
    width: 80%;
  }
}
