<!DOCTYPE html>

<head>
	<link rel="icon" type="image/png" sizes="16x16" href="../Static/images/Favicon_BTM.png">
	<link rel="stylesheet" href="../Static/contact.css" type="text/css">
  <link rel="stylesheet" href="../Static/header2.css" type="text/css">
  <link rel="stylesheet" href="../Static/footer2.css" type="text/css">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

{{template "header"}}

<body>
  
  <div class="container">
    <h1>Contactez-nous</h1>
    <div class="container2">
      <div class="logo">
        <div class="lien">
          <a href="https://www.facebook.com/profile.php?id=100087063756690"><img id="img" src="/Static/images/facebookORG.png"></a>
          <a href="https://www.instagram.com/bigger.than.me/?igshid=YmMyMTA2M2Y%3D"><img id="img" src="/Static/images/instagramORG.png"></a>
          <a href="https://www.tiktok.com/@biggerthan.me?_t=8WdUQ6tsaf7&_r=1"><img id="img" src="/Static/images/tiktokORG.png"></a>
          <a href="https://www.youtube.com/channel/UCgvDAtZa30ogdymn-JofZAw?app=desktop"><img id="img" src="/Static/images/youtubeORG.png"></a>
        </div>
        <div class="mail">
          <p>Mail: prodbybiggerthanme@gmail.com</p>
        </div>
      </div>
      <div class="ligne">
        <a>t</a>
      </div>
      <div class="text">
        <div class="text2">
          <p>
            Bienvenue sur notre page de contact!<br>
            Si vous avez des questions, n'hesitez pas à nous contacter. <br><br>
            Si vous souhaitez nous envoyer un message, <br>
            veuillez remplir le mail en y indiquant votre nom,<br> 
            votre numéro de téléphone et votre adresse e-mail à <br>
            contacter en cas de réponse ainsi que le message <br> 
            que vous souhaitez nous transmettre.<br> <br>
            Nous vous répondrons dès que possible. <br>
            Merci de votre intérêt pour notre site web!
          </p>
        </div>
        <div class="button">
          <a href="mailto:prodbybiggerthanme@gmail.com">Envoyer votre Mail</a>
        </div>
      </div>
    </div>
  </div>

      
</body>
{{template "footer"}}


</html>